body {
    margin: 0px;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;

    padding: 40px
}

.section-title {
    border-bottom: 2px solid black;
}
/* table {
    border-spacing: 20px;
} */
.text {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow:auto;
	font-size: 12pt;

}

span.basic-info  {
    display: inline-block;
    width: 73%;
    height: 200px;
    background-color: rgb(233, 240, 243); 
	font-size: 20pt;
}

span.image-info  {
    vertical-align: top;
    display: inline-block;
    width: 140px;
    height: 200px;
    background-color: rgb(210, 238, 146); 
}


.category {
    text-align: left;
    font-family: sans-serif;
	font-size: 12pt;
}

.provided-info {
    text-align: left;
    font-family: arial;
	font-size: 12pt;
}

th {
    column-width: 80pt;
	font-size: 20pt;
}

span.timeline  {
    vertical-align: sub;
    display: inline-block;
    width: 25%;
    height:  80px;
    padding: 5px;
    background-color: white; 
    border-bottom: 1px solid black; 
}

span.content-in-time  {
    vertical-align: top;
    display: inline-block;
    width: 65%;
    height:  80px;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid black; 
}

.Language {
    text-align: left;
    font-family: sans-serif;
	font-size: 14pt;
    width: 300px;
}

.level {
    text-align: left;
    font-family: sans-serif;
	font-size: 14pt;
}

.first-part {
    font-weight: bolder;
}

.project {
    border-bottom: 1px solid black; 
}