* {
    margin: 0px;
}

.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;
    padding: 30px 50px;
}

#nav-bar {
    text-align: center;
}

#banner {
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    width: 80%;
    height: 400px;
}

#target {
    background-color:rgb(164, 171, 172);
}

#target-text {
    margin-left:100px;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 40px;
}

.info-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    display: grid;
    grid-template-rows: auto-fill auto-fill;
}

h1 {
    font-size: 30px;
}

#main-body {
    display: grid;
    grid-row: repeat(6, auto-fill);
    margin-left: 10%;
    margin-right: 10%;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.center-info {
    position: absolute;
    top: 20%;
    left: 50%;
}

#about {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 20px;
}

.sub-grid {
    border: 0px solid rgba(0, 0, 0, 0.8);
}

#job-info {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.column {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.title-item {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 28px;
}

.time-stamp {
    font-style: italic;
    padding-left: 30px;
}

li:before {
    content: "- ";
}

li {
    list-style-type: none;
    font-size: 20px;
}

#hobbies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 30px 0px 30px;
}

.hobby {
    display: inline-block;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    font-size: 1.6em;
    border-color: red;
    margin: 20px 20px 20px 20px;
    border: 1px solid blue;
    background-color: white;
    border-radius: 50%;
    aspect-ratio : 1 / 1;
    /* border-radius: 50px; */
}

#language {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.each-language {
    margin-left: 10px;
}
.level-pass {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}

.level {
    background: gray;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}

#certificatate-content {
    display: grid;   
}

.cerf-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.each-cerf {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.project-section-title {
    margin-bottom: 40px;
    text-align: center;

}

#project-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.each-project {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 3fr 2fr 4fr;
}

.image-project {
    max-width:90%;
    height: auto;
}

.project-base-info {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr 1fr;
}

.project-name {
    margin: 10px 0px 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}